@import "tailwindcss";

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplay-Variable.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('/fonts/InterTight-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter SemiBold';
  src: url('/fonts/InterTight-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Tight Light';
  src: url('/fonts/InterTight-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Tight Bold';
  src: url('/fonts/InterTight-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.svg-blurtext {
  opacity: 0;
  filter: blur(14px);
  transform: scale(0.96) translateY(10px);
  animation: svgBlurTextIn 1.2s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  animation-delay: 0.6s;
}

@keyframes svgBlurTextIn {
  to {
    opacity: 1;
    filter: blur(0);
    transform: scale(1) translateY(0);
  }
}