@import "tailwindcss";

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplay-Variable.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('/fonts/InterTight-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Tight Light';
  src: url('/fonts/InterTight-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Tight Bold';
  src: url('/fonts/InterTight-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}